*{
    margin: 0px;
    padding: 0px;
}
h2{
    font-size: 14pt;
}
#wrapper{
    width: 917px;
    height: 980px;
    background: radial-gradient(red); /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#6F5964,#19090D); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#6F5964,#19090D); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(#6F5964,#19090D); /* For Firefox 3.6 to 15 */
    padding-top:0px;
    margin:0 auto;
}
#header{
    width: 917px;
    height: 61px;
    background-color: silver;
    margin-bottom:25px;
    

}

#spacer{
    width:917px;
    height:30px;
}
#photo{
    height: 260px;
    width:390px;
    background-color: silver;
    display: inline-block;
    margin-left: 25px;
    vertical-align: top;
}
#aboutWrapper{
    height:260px;
    width:459px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
#aboutHeader{
    height:60px;
    width:459px;
    background: #B3B3B6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#B3B3B6,#878593, #B3B3B6); /* Standard syntax */
    }
    

#aboutContent{
    height:200px;
    width:459px;
    background: #B3B3B6; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top,#FFFFFF, #DACBD9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,#FFFFFF, #DACBD9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,#FFFFFF, #DACBD9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,#FFFFFF, #DACBD9); /* Standard syntax (must be last) */}

#pic{
    margin-left: 4px;
    margin-top: 4px;
    height:252px;
    width: 382px;
}
#lamodeWrapper{
    height:545px;
    width:276px;
    display: inline-block;
    vertical-align: top;
    margin-left:20px;
    background: #B3B3B6; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top,#FFFFFF, #DACBD9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,#FFFFFF, #DACBD9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,#FFFFFF, #DACBD9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,#FFFFFF, #DACBD9); /* Standard syntax (must be last) */
}
#lamodeHeader{
    height:60px;
    width:276px;
    background: #B3B3B6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#B3B3B6,#878593, #B3B3B6); /* Standard syntax */
}
#lamodeContent{
    height:294px;
    width:276px;
}
#lamodeTech{
    height: 37px;
    width:276px;
    background: #B3B3B6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#B3B3B6,#878593, #B3B3B6); /* Standard syntax */
}
#lamodeBadges{
    height:154px;
    width:276px;
    margin-top: 10px;
}   
#familyWrapper{
    height:545px;
    width:276px;
    display: inline-block;
    vertical-align: top;  
    margin-left:20px;
    background: #B3B3B6; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top,#FFFFFF, #DACBD9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,#FFFFFF, #DACBD9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,#FFFFFF, #DACBD9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,#FFFFFF, #DACBD9); /* Standard syntax (must be last) */
}
#familyHeader{
    height:60px;
    width:276px;
    background: #B3B3B6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#B3B3B6,#878593, #B3B3B6); /* Standard syntax */
}
#familyContent{
    height:294px;
    width:276px;
}
#familyTech{
    height: 37px;
    width:276px;
    background: #B3B3B6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#B3B3B6,#878593, #B3B3B6); /* Standard syntax */
}
#familyBadges{
    height:154px;
    width:276px;
    margin-top: 10px;
}
#fiveElevenWrapper{
    height:545px;
    width:276px;
    display: inline-block;
    vertical-align: top;
    margin-left:20px;
    background: #B3B3B6; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top,#FFFFFF, #DACBD9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,#FFFFFF, #DACBD9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,#FFFFFF, #DACBD9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,#FFFFFF, #DACBD9); /* Standard syntax (must be last) */
}
#fiveElevenHeader{
    height:60px;
    width:276px;
    background: #B3B3B6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#B3B3B6,#878593, #B3B3B6); /* Standard syntax */
}    
#fiveElevenContent{
    height:294px;
    width:276px;
}           
#fiveElevenTech{
    height: 37px;
    width:276px;
    background: #B3B3B6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#B3B3B6,#878593, #B3B3B6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#B3B3B6,#878593, #B3B3B6); /* Standard syntax */
}
#fiveElevenBadges{
    height:154px;
    width:276px;
    
    margin-top: 10px;
}
#footer{
    width: 917px;
    height: 61px;
    background-color: silver;
    margin-top:20px;
}
.portex{
    width:276px;
    height: auto;
    margin:0 auto;
}
.techlogos{
    height:45px;
    width:45px;
    margin-left: 5px;
}
#buttonfamily{
    color: white; 
    text-decoration: none;
    position: relative;
    top: 20%;
    left: 15%;
}
#buttonfive{
    color: white; 
    text-decoration: none;
    position: relative;
    top: 20%;
    left: 5%;
}
#buttonlamode{
    color: white; 
    text-decoration: none;
    position: relative;
    top: 20%;
    left: 10%;
}
#button{
    height: 30px;
    background-color: green;
    border-radius: 5px;
    margin:0 auto;
    border: 3px;
    border-color: black;
    box-shadow: 2px 2px black;
}
.large{
    width: 140px;
}
.small{
    width:75px;
}
h2, h3{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p, #continue{
    color:darkslategrey;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2, h3, #continue{
    position: relative;
    top:20%;
    margin-left: 10px;
}
p{
    margin-left: 10px;
    margin-right: 10px;
    font-size:9pt;
}
#continue, .aboutparagraph{
    font-size:11pt;
}
#name{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 24pt;
    margin-left: 20px;
    margin-top:5px;
    display: inline-block;  
}
#quote{
    font-size: 24px;
    margin-left: 325px;
    position: relative;
    display: inline-block;
}
.social{
    height: 20px;
    width:20px;
    display:inline-block;
}
.socialtext{
    font-style:italic;
    font-size: 12pt;
}
#contactinfo{
    font-family: sans-serif;
    font-size: 10pt;
    margin-top: 10px;
    margin-left: 362px;
}
#socialfoot{
    margin-left:290px;
}
#social{
    margin-top:10px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 2px 2px black;
  
}
#fivebutton{
    position:relative;
    left:23%;
}
#familybutton{
    position:relative;
    left:15%;
}
#lamodebutton{
    position:relative;
    left:25%;
}